<!-- metadata -->
<!DOCTYPE html
<html lang="en">
<!-- end metadata -->



<!-- head (not visible) -->
<head>
  <%- include('../partials/head'); %>
</head>
<!-- end head (not visible) -->



<!-- begin header and website container -->
<body id="page-top" class="container">

    <%- include('../partials/nav'); %>

    <header class="bg-primary bg-gradient text-white">

            <%- include('../partials/header'); %>
    </header>
<!-- end header (container encapsulates the entire website) -->



<!-- main section -->
<main>
    <section class="bg-light" id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Services we offer</h2>
                    <p class="lead">We are data engineers passionate about our technology!</p>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- end main section -->



<!-- footer -->
<footer>
    <%- include('../partials/footer'); %>
</footer>
<!-- end footer -->



</body>
</html>