<!-- metadata -->
<!DOCTYPE html
<html lang="en">
<!-- end metadata -->



<!-- head (not visible) -->
<head>
  <%- include('../partials/head'); %>
</head>
<!-- end head (not visible) -->



<!-- begin header and website container -->
<body id="page-top" class="container">

    <%- include('../partials/nav'); %>

    <header class="bg-primary bg-gradient text-white">

            <%- include('../partials/header'); %>
    </header>
<!-- end header (container encapsulates the entire website) -->



<!-- main section -->
<main>
    <section class="bg-light" id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Success!</h2>
                    <p class="lead">Thanks for authorizing us on Twitch! As we gather data we 
                      will bring creative and new analytics, forecasts and value insights to you
                      for your channel and social media accounts. 
                    </p><br><br>
                    <p class="lead">Hang with us, our dashboard is still being developed. Once complete,
                      our analytics platform will be an inclusive dashboard for all of your accounts.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- end main section -->



<!-- footer -->
<footer>
    <%- include('../partials/footer'); %>
</footer>
<!-- end footer -->



</body>
</html>