<footer class="py-4 bg-dark">
    <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; 2022 - DataEscargot.com</p></div>
</footer>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>