<div class="container px-4 text-center">
  <h1 class="fw-bolder">Data. With you in mind.</h1>
  <p class="lead">Welcome. Data Engineering + ML/AI + Analytics + Business Intelligence.</p>
  <a class="btn btn-lg btn-light" href="/login">Authorize Us!</a>
</div>
